


h1 {
  color: hsl(359, 70%, 30%);
  background-color: hsl(359, 90%, 80%);
  box-shadow: 4px 4px 5px 2px hsl(359, 90%, 60%);
  font-size: 4.0em;
  text-align: center;
 /* font-size: 5.0em;
  line-height: 1.2em;
  margin-bottom: 0.096em;*/
}
h5 {
  color: hsl(359, 70%, 30%);
  padding: 0.05px;
  margin: 5px;
  text-align: center
}

.abc {
  background: hsl(200, 90%, 80%);
  box-shadow: 4px 4px 5px hsl(200, 40%, 100%);
}

.mas {
  background: hsl(29, 30%, 60%);
  box-shadow: 4px 4px 5px hsl(0, 30%, 30%);
  padding: 0.05px;
  margin: 5px;
  text-align: center
}

.org {
  background: hsl(129, 90%, 80%);
  box-shadow: 4px 4px 5px hsl(100, 20%, 80%);
  padding: 0.05px;
  margin: 5px;
  text-align: center
}

.her {
  background: hsl(29, 60%, 70%);
  box-shadow: 4px 4px 5px hsl(0, 30%, 30%);
  padding: 0.05px;
  margin: 5px;
  text-align: center;
}

.attrib {
  text-align: right;
}

.main {
  width: "80%";
}

.icon-td {
  width: "30%";
  align: center;
}
.icon-div {
  width: "30%";
  align: center;
}
.img-tag {
  width: "100%";
  align: middle;
}
.title-td {
  width: "70%";
  align: center;
}
.title-div {
  text-align: right;
  width: "70%";
  align: center;
  float: left;
}
.title-row {
  text-align: right;
  align: center;
  horizontal-align: middle;
}
.content-row {
  height: "100%";
}
.list-td {
  width: "30%";
  height: "100%";
}
.content-div {
  height: "100%";
}
.content-td {
  width: "100%";
}




 /* font-size: 5.0em;
  line-height: 1.2em;
  margin-bottom: 0.096em;*/
  
/*


  background: black;
  box-shadow: 4px 4px 5px #0F0;
  
  
  transition: width 6s linear, background 6s ease-in-out;
  transition:  background 6s ease-in-out;
  
  
  
  
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
  // don't do it man!
  text-shadow: 3px 5px 3px hsl(320, 50%, 20%);

*/
